.Profile {
    display: flex;
    height: 800px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 96px;
}

.name {
    font-weight: 600;
    font-size: 26px;
    color: #000;

    margin-bottom: 12px;
}

.linkUserName {
    font-weight: 400;
    font-size: 18px;
    color: #0064EB;
    text-decoration: none;
}

.imgUser {
    height: 280px;
    width: 280px;
    padding-top: 11px;
    border-radius: 50%;
}

.profile_link:hover {
    text-decoration: underline;
}

.profile_follows {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.profile_inner {
    font-size: 16px;
    font-weight: 400;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.profile_inner img {
    margin-right: 3px;
}

.profile_inner:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1028px) {
    .main_profile {
        margin-right: 40px;
    }
}
@media screen and (max-width: 768px) {
    .main_profile {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 40px;
    }

    .profile_img {
        width: 200px;
        height: 200px;
    }

    .profile_follows {
        display: flex;
        flex-direction: column;
    }

    .profile_link {
        font-size: 14px;
    }
}