.Profile{
 display: flex;
 height: 800px;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-start;
 padding-top: 100px;
 padding-left: 20px;

}
.Repository {
 display: flex;
 height: 50px;
 flex-direction: column;
 align-items: flex-end;
 justify-content: flex-start;
}

.loader {
 position: absolute;
 top: 15%;
 left:48%;
 margin: 0 auto;
 border: 8px solid #97ecec;
 border-top: 8px solid #3498db;
 border-radius: 50%;
 width: 30px;
 height: 30px;
 animation: spin 2s linear infinite;
}
