.Header{
    position: absolute;
    height:72px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #0064EB;
}

.logoGitHub{
    position: absolute;
    height: 40px;
    width: 41px;
    padding-left: 41px;
    padding-top: 16px;
    left: 0%;
    right: 0.08%;
    top: 0%;
    bottom: -0.01%;

}
input{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 104px;
    right: 0%;
    top: 16px;
    bottom: 16px;
    background: #FFFFFF;
    border-radius: 6px;
    padding-left:30px;
}

