.repository_item{
    margin-top: 29px;
    margin-bottom: 24px;
    background: #fff;
    border-radius: 6px;
    width: 877px;
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: start;
}

.repository_link{
    text-decoration: none;
}

.repository_link:hover{
    text-decoration: underline;
    color: #0064EB;
}

.repository_title{
    font-weight: 500;
    font-size: 24px;
    color: #0064EB;
    margin-bottom: 16px;
    padding-left: 32px;

}

.repository_text{
    font-weight: 400;
    font-size: 16px;
    height: 20px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 32px;
}

@media screen and (max-width: 768px) { 
    .repository_item{
        padding: 12px 16px; 
    }
    .repository_title{
        font-size: 18px;
    }
    .repository_text{
        font-size: 13px;
    }
}